*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

p{
  font-family: 'Open Sans', sans-serif;
  color: #353C3F;
}
/*//////////LANDING PAGE//////////////*/
#fullpage {
  width: 100%;
  max-width: 100%;
  clear: both;
  margin: 0 auto;
}
h1 {
  color: #ff8d3f;
  font-family: 'Oswald', sans-serif;
}
h3#role {
  color: #ff8d3f;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  /*padding-top: -3em;*/
  /*padding-bottom: 5em;*/
  font-size: 3em;
  /*margin-top: -1em;*/
}
h1#name {
  text-align: center;
  padding-top: -3em;
  padding-bottom: 5em;
  font-size: 6em;
  margin-top: -6em;
}
h1#about {
  text-align: left;
  padding-left: 1em;
  /*padding-top: 20px;*/
  /*padding-bottom: 1em;*/
  font-size: 5em;
  margin-top: -2em;
}
img.head {
  max-width: 300px;
  padding-left: 5em;
}
div .about {
  display: inline-flex;
}
h1#projects {
  /*text-align: left;*/
  padding-left: 1em;
  /*padding-top:;*/
  font-size: 5em;
  /*margin-top:   -1em;*/
}
h1#contact {
  color: #ff8d3f;
  font-family: 'Oswald', sans-serif;
  /*text-align: left;*/
  padding-left: 1em;
  /*padding-top: 20px;*/
  /*padding-bottom: 1em;*/
  font-size: 5em;
  /*margin-t: ;op: -2em;*/
}
p#blurb {
  text-align: left;
  padding-left: 2em;
  color: #D5D6D2;
  font-size: 2em;
  z-index: 2;
}
#bg-cover {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  max-width: 960px;
  -webkit-filter: grayscale(100%);
  z-index: -100;
  background: rgba(0, 0, 0, 0.18);
}
#menu li:hover {
  background: #D5D6D2;
}
#menu li {
  /*color: #D5D6D2;*/
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  /*color: #ff8d3f;*/
  padding-left: 10px;
  padding-right: 10px;
}
#menu li.active {
  /*background: rgba(0,0,0, 0.5);*/
  /*background-color: #D5D6D2;*/
  /*opacity: 0.5;*/
  color: #ff8d3f;
}
#menu li a {
  text-decoration: none;
  /*color: #ff8d3f;*/
  color: #9DA8AD;
}
#menu li.active a:hover {
  color: #ff8d3f;
}
#menu li:hover {
  /*background: rgba(255,255,255, 0.8);*/
}
#menu li a, #menu li.active a {
  padding: 9px 18px;
}
#menu li.active a {
  color: #ff8d3f;
  /*color: #  fff;*/
}
#menu {
  font-weight: 800;
  font-size: 20px;
  display: inline-block;
  position: fixed;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  padding-bottom: 5px;
  padding-left: 20em;
  /*background-color: #756867;*/
}
#section0 {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
#section1 {
  background-color: #D5D6D2 !important;
}
#section2 {
  background-color: #D5D6D2 !important;
}
#section3 {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
h1#contact {
  padding-bottom: 0;
}
#map {
  width: 100%;
  height: 250px;
  z-index: 0;
}
img.headshot {
  z-index: 2;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  border: 10px solid #D5D6D2;
  margin-top: -100px;
  margin-left: 15em;
  position: absolute;
}
.social i.fa {
  font-size: 3em;
  color: #ff8d3f;
  padding-left: 2em;
}
li.social {
  padding-top: 10em;
  padding-left: -4em;
  position: absolute;

}

#tech {
  padding-left: 12em;
  padding-top: 3em;
}
#tech img {
  padding-left: 2em;
}

ul.contact {
  color: orange;
  display: absolute;
  padding-top: 10em;
}
ul.contact li {
  list-style-type: none;
  padding-left: 15em;


}
ul.contact li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #ff8d3f;
}
.box .image-overlay{
  opacity:0;
  position:absolute;
  color: #ff8d3f;
  background: rgba(53, 60, 63, 0.77);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  text-align:center;
  font-size:30px;
  line-height: 200px;

  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  z-index:1;
}
.box .image-overlay a {
  color: #ff8d3f;
  text-decoration: none;
  margin-bottom: 1em;
  letter-spacing: 0.5em;
}

.box:hover .image-overlay{
  opacity:1;
}

.box img {
  max-width: 100%;
  height: auto;
  display: block;

}
.box{
  width:500px;
  padding: 10px;
  position:relative;
  overflow: hidden;
  margin-left: 12em;
}
.image-overlay h5 {
  margin-bottom: -1em;
  margin-top: 0.5em;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    /*text-decoration: none;*/
    /*color: initial;*/
}